.mainContainer {
  width: 100vw;
  margin-top: 51px;
  height: calc(100vh - 51px);
  background-color: #fafafa;
}

.innerContainer {
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  height: 100%;
  padding-top: 5px;
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #557aa6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .innerContainer {
    flex-direction: row;
    margin: 0 30px;
  }
}
