.mainContainer {
  width: 100vw;
  margin-top: 50px;
  height: calc(100vh - 50px);
}

.innerContainer {
  position: relative;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  height: 100%;
}

@media (min-width: 768px) {
  .innerContainer {
    flex-direction: row;
    margin: 0 30px;
  }
}
