.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (min-width: 768px) {
  .weatherContainer {
    width: 50%;
    height: auto;
    max-height: 80vh;
  }
}
