.modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(152, 152, 152, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 90%;
  height: 85%;
}

.mapContainer {
  height: 75%;
  width: inherit;
}

.closeIconContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  position: relative;
  width: inherit;
  height: 25%;
}

.inputContainer {
  display: flex;
  width: 80%;
  margin-top: 20px;
}

.inputContainer input {
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .innerContainer {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 75%;
  }

  .mapContainer {
    width: 70%;
    height: inherit;
  }

  .textContainer {
    width: 30%;
    height: inherit;
  }

  .closeIconContainer {
    width: 30px;
    height: 30px;
  }

  .inputContainer {
    margin-top: 0px;
  }
}
