.modalContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(152, 152, 152, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapContainer {
  width: 75%;
  height: 75%;
}

.closeIconContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}
